<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form method="post" action="add-user">
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <span th:text="${message}"></span><br/>
    <label for="name">Enter name:</label>
    <input id="name" name="name">
    <br/>
    <label for="color">Choose color:</label>
    <!--/*@thymesVar id="colors" type="java.util.List"*/-->
    <!--/*@thymesVar id="color" type="com.pack.colorchat.model.Color"*/-->
    <select id="color" name="color">
        <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.text}"></option>
    </select><br><br>
    <input type="submit" name="okbutton" value="Ok">
</form>
</body>
</html>
